#body{
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
}

*{
    box-sizing: border-box;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}

#list{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
    margin: 20px;
}

#list > li{
    max-width: 200px;
    min-width: 200px;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    background:url('/static/Landing/images/bg_color.png');
    padding: 15px;
    align-items: center;
    border: 2px solid rgb(32, 118, 192);
    cursor: pointer;
}

#list > li:hover{
    background: white;
    transition: 0.2s;
}

#list > li a{
    margin: 5px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: rgb(32, 118, 192);
}


@media only screen and (max-width:960px){
    #list{
        flex-wrap:wrap;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    #list > li{
        margin: 10px;
    }

}