{% load static %}
<link rel="stylesheet" href="{% static 'Landing/css/footer.css' %}">
<div id="space"></div>
<footer >
    <h4 class="footer-title">FINAL YEAR PROJECT-SUBJECT CODE(17CSP85)</h4>
    <h4 class="footer-title">PATIENT MANAGEMENT AUTOMATION AND SECURITY SYSTEM</h4>
    <div id="footer-icon">
        <div id="jss-logo">
            <img  src="{% static 'Landing/images/jssate.png '%}" alt="JSSATE LOGO">
        </div>
        <div id="vtu-logo">
            <img  src="{% static 'Landing/images/vtu_logo.png '%} " alt="">
        </div>
    </div>
    <div id="footer-names">
        <div id="footer-names-guide">
            <h3 >GUIDE</h3>
            <div class="names">
                <p class="teacher-names">1) Mr. Renuka Rajendra. B, Assistant Professor, JSSATE-B</p>
            </div>
        </div>
        <div id="footer-names-guide">
            <h3 >PANEL MEMBER</h3>
            <div class="names">
                <p class="teacher-names">2) Mr. Vikhyath K B, Assistant Professor, JSSATE-B</p>
            </div>
        </div>
        <div id="footer-names-student">
            <h3 >DEVELOPERS</h3>
            <div class="names">
                <P class="student-names">1) Pujit Y G</P>
                <p class="student-names">2) Karthik Ram</p>
                <p class="student-names">3) Rajiv G M</p>
                <p class="student-names">4) Harshith S</p>
            </div>
        </div>
    </div>
</footer>